.expelled-student-card {
  color: red;
  background-color: black;
}
#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  
}
.student-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px;
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  height: 250px;
}
