.expelled-student-card {
  color: red;
  background-color: black;
}
#cardsContainer {
  display: flex;
  flex-wrap: wrap;
}
.student-card {
  margin: 50px;
  border: 1px solid black;
  border-radius: 15px;
  wiodth
}
